#chatbox{
position:fixed;
bottom:20px;
right:20px;
width:300px;
background:white;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
overflow:hidden;
}

#chat-header{
background:#1976d2;
color:white;
padding:10px;
font-weight:bold;
display:flex;
justify-content:space-between;
cursor:pointer;
}

#chatbox.min{
height:40px;
}

#chat-toggle{
cursor:pointer;
}
